greenlet>=3.0.3

sqlalchemy~=2.0.44
dotenv~=0.9.9
python-dotenv~=1.1.1
aiogram~=3.22.0
db~=0.1.1
config~=0.5.1
pip~=23.2.1
attrs~=25.4.0
idna~=3.11
multidict~=6.7.0
propcache~=0.4.1
async-timeout~=5.0.1
wheel~=0.41.2
setuptools~=68.2.0
pydantic~=2.11.10
aiofiles~=24.1.0
magic-filter~=1.0.12
certifi~=2025.10.5
aiohttp~=3.12.15
yarl~=1.22.0
aiosignal~=1.4.0
frozenlist~=1.8.0
aiohappyeyeballs~=2.6.1
annotated-types~=0.7.0